* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1564px;
  margin: auto;
}

.section {
  padding: 30px;
}

.navbar {
  position: fixed;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  top: 0;
  z-index: 1;
}

.link {
  margin: 0 20px 10px;
  padding: 10px 20px;
  display: inline-block;
}

.link:hover {
  background-color: #d8d8d8;
}

.banner {
  margin-top: 68px;
  position: relative;
}

.banner-image {
  width: 100%;
}

.banner-text {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  color: white;
  font-size: 50px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.house {
  position: relative;
  height: 200px;
}

.house-image {
  width: 100%;
}

.house-text {
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #000;
}